@media screen and (max-width:426px) {
    .logo {
      height: 50px;
    }
  
    .contenedor__div {
      display: grid;
    }
  
    .menu {
      text-decoration: none;
      color: gray;
      font-family: $family;
      font-size: 10px;
  
    }
  
    .header__ul {
      list-style: none;
      display: flex;
      flex-direction: column;
    }
  
    .parrafo_principal {
      text-align: center;
      font-size: 10px;
      color: white;
    }
  
  
    .formulario_boton {
      width: 40%;
      margin-top: 12px;
      border: 2px solid black;
      background-color: darkgrey;
    }
  
    .quienes {
      font-size: 30px;
      font-family: $family;
      justify-content: center;
    }
  
    .quienes__img {
      display: flex;
      justify-content: center;
      margin: auto;
      width: 200px;
    }
  
    .quienes__p {
      font-size: 15px;
      font-family:$family;
      text-align: center;
    }
  
    .steel__complemento {
      margin: 10px 10px;
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .steel__parrafos {
      font-family: $family;
      font-size: 15px;
      margin: 1rem;
  
    }
  
    .titulos__primario {
      -webkit-animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      font-size: 30px;
      background-color: #1b263b;
      color: aliceblue;
      text-align: center;
    }
  
    .titulos__secundario {
      font-size: 20px;
      margin-top: 0px;
      background-color: #1b263b;
      color: aliceblue;
      text-align: center;
    }
  
  
    ul li a {
      padding: 0;
      font-weight: bold;
    }
  
    .formulario {
      color: aliceblue;
      background-color: #443032;
      padding: 30px;
      margin-top: 50px;
      border-radius: 4px;
      font-family: $formfamily;
      height: 55vh;
    }
  
    header {
      background-image: none
    }
  
    .carousel-inner {
      display: flex;
      flex-direction: row;
    }
  
    .d-block {
      width: 300px;
      height: 350px;
    }
  
    .titulos {
      display: block;
      display: flex;
      flex-direction: column;
    }
  
    .galeria__item:nth-child(1) {
      grid-column-start: span 2;
    }
  
    .galeria__item:nth-child(8) {
      grid-column-start: span 2;
    }
  
    .galeria__item:nth-child(2) {
      grid-row-start: span 1;
    }
  
    .galeria__item:nth-child(5) {
      grid-row-start: span 1;
    }
  
    .galeria__item:nth-child(6) {
      grid-row-start: span 1;
    }
  
    .galeria__item:nth-child(7) {
      grid-row-start: span 1;
    }
    .section__hover h1{
      font-size: 0.5rem;
       
    }
  }