@media screen and (max-width: 768px) {
    .logo {
      height: 50px;
    }
  
    .contenedor__div {
      display: grid;
  
    }
  
    .menu {
      text-decoration: none;
      color: gray;
      font-family: $family;
      font-size: 10px;
  
    }
  
    .header__ul {
      list-style: none;
      display: flex;
      flex-direction: column;
  
    }
    .d-block {
      width: 400px;
      height: 450px;
      object-fit: cover;
  }
  
  section.row.row-cols-4 {
    justify-content: center;
  }  
  
    .parrafo_principal {
      text-align: center;
      font-size: 30px;
      color: white;
    }
  
    .quienes {
      font-size: 40px;
      font-family:$family;
      justify-content: center;
    }
  
    .quienes__img {
      display: flex;
      align-items: center;
      margin: auto;
      width: 200px;
    }
  
    .quienes__p {
      font-size: 15px;
      font-family: $family;
      text-align: center;
    }
  
  
    .steel__complemento {
      margin: 10px 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  
    .steel__parrafos {
      font-family: $family;
      font-size: 15px;
      margin: 1rem;
  
    }
  
    ul li a {
      padding: 0;
      font-weight: bold;
    }
  
    .carousel-inner {
      display: flex;
      flex-direction: column;
    }
  
    .carousel-inner {
      display: flex;
      flex-direction: row;
    }
    .section__hover h1{
      font-size: 0.5rem;
       
    }
  }