.titulos {
    display: none;
    
  &__primario {
    -webkit-animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-size: 40px;
    background-color: $backtitulos;
    color: $color;
    text-align: center;
  }

@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
      transform: translateZ(400px);
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  
  &__secundario {
    font-size: $font30;
    margin-top: 0px;
    background-color:$backtitulos;
    color: $color;
    text-align: center;
  }
}