$background: (
    fondo:#f0f8ff,
    titulos :#1b273b,
    card: #415a77,
    form: #453133
);
$black: hsl(0, 0%, 0%);
$color:hsl(208, 100%, 97%);
$family:font-family roboto;
$formfamily: colibri;
@mixin title {
    background-color: map-get($background,titulos);
    color: $color;
    text-align: center;
}








